*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(background.jpg);
    background-size: cover;
    backface-visibility: initial;

}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: rgba(24, 14, 36, 0.822);
    }
.contact .content p{
    font-weight: 300;
    color: rgba(24, 9, 10, 0.719);
 }
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;


}
.container .contactInfo .box{
position: relative;
padding: 20px 0;
display: flex;
}
.container .contactInfo .box .icons{
    min-width: 60px;
    height: 60px;
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(67, 7, 231);
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .text h3
{
    font-weight: 500;
    color: rgb(67, 7, 231);

}
.contactForm
{
    width: 40%;
    padding: 50px;
    background: rgba(98, 214, 223, 0.726);;

}
.contactForm h2{
    font-size: 30px;
    color: rgb(52, 40, 219);
    font-weight: 500;

}
.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}
.contactForm inputbox input,
.contactForm inputbox textarea
{
    width: 100px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid rgb(21, 17, 240);
    outline: none;
    resize: none;


}
.contactForm inputbox spam{
    position:absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    pointer-events: none;
    transform: 0.5%;
    color: rgba(126, 124, 243, 0.63);

}
.contactForm inputbox input:focus~spam,
.contactForm inputbox input:valid~spam,
.contactForm inputbox textarea:focus~spam,
.contactForm inputbox textarea:valid~spam{
    color: #4111b1;
    font-size: 12px;
    transform: translate(-20px);
}
.contactForm inputbox input[type="submit"]
{
    width: 100px;
    background: #2f2ddf;
    color: rgb(190, 25, 25);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
